body {
  background-color: black;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.rating {
  padding: 50px;
  margin: 50px;
  font-size: 50px;
  background-color: rgb(124, 120, 120);
  border: 5px solid rgb(51, 51, 50);
  border-radius: 25%;
}
.rating:hover {
  background-color: rgb(51, 51, 50);
  color: rgb(124, 120, 120);
}
.rating:active {
  background-color: #555;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

img {
  padding: 20px;
  width: 25%;
  border: 5px solid bisque;
}

p {
  display: flex;
  padding: 10px;
  color: rgb(124, 120, 120);
  font-size: 30px;
}
h1 {
  color: rgb(124, 120, 120);
  font-size: 50px;
}

#my-rating {
  padding: 20px 100px;
  margin: 50px;
  margin-top: 0px;
  font-size: 50px;
  background-color: rgb(124, 120, 120);
  border: 5px solid rgb(51, 51, 50);
  border-radius: 10%;
}
#my-rating:hover {
  background-color: rgb(51, 51, 50);
  color: rgb(124, 120, 120);
}
#my-rating:active {
  background-color: #555;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}
#rating-dialog {
  width: 300px;
  height: 500px;
}

.dialog-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  left: 40px;
}
.dialog-chapter {
  display: flex;
  font-size: 40px;
  justify-content: center;
}
#close-dialog {
  margin-top: 20px;
  font-size: 30px;

  background-color: rgb(124, 120, 120);
  border: 5px solid rgb(51, 51, 50);
  border-radius: 10%;
}
